<div class="jumbotron">
    <h1>Mercadito Aviario</h1>
    <p class="lead">Somos expertos en soluciones! Bienvenido a la página oficial de su provedor de suministros para aves preferido.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Lo que Hacemos</h2>
        <p>Pasión, servicio y rapidez es nuestra forma de vivir. 
        Somos expertos provedores en suministros nacionales e internacionales para sus aves de corral. 
        Nuestra misión es ofrecer lo mejor del mercado y queremos que lo sepas. 
        Dale click al botón y experimenta nuestra visión.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Saber Más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Quienes Somos</h2>
        <p>Gerente General: Ivan Rojas Salazar\n
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contáctenos</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
