
@{
    ViewBag.Title = "Purchases";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- <script src="~/Scripts/Views/Purchases.js"></script>
    -->

<h2>Pedidos</h2>


<div class="form-group">
    <button id="btnCreatePurchases" class="btn btn-success" type="button">Crear Pedido</button>
</div>

<div>
    <table id="tblPurchases" class="display" syle="width:100%">
        <thead>
            <tr>
                <th>Id Oferta</th>
                <th>Id Subscriptor</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Compañia</th>
                <th>Comprador</th>
                <th>Email</th>
                <th>Teléfono</th>
            </tr>
        </thead>
    </table>
</div>



